Name: Buddepu Shiva

Registration no.: 21BCE5692

College: VIT Chennai campus

mail id: buddepu.shiva2021@vitstudent.ac.in

In [5]:
#task-1: create a pandas dataframe(name as 'df')(10 obseravtions and 5 features)

import pandas as pd
import numpy as np
d={'name':['shiva','pranathi','vandu','rani','vamsi','yash','srikar','avinash','gouri','surya'],
   'bank':['sbi','union','icici','andhra','hdfc','sbi','union','icici','sbi','union'],
   'age':[22,30,35,32,28,26,24,29,34,38],
   'gender':['m','f','f','f','m','m','m','m','m','m'],
   'salary':[25000,85000,65000,40000,80000,60000,np.nan,45000,90000,40000]}
df=pd.DataFrame(d)
df

       name    bank  age gender   salary
0     shiva     sbi   22      m  25000.0
1  pranathi   union   30      f  85000.0
2     vandu   icici   35      f  65000.0
3      rani  andhra   32      f  40000.0
4     vamsi    hdfc   28      m  80000.0
5      yash     sbi   26      m  60000.0
6    srikar   union   24      m      NaN
7   avinash   icici   29      m  45000.0
8     gouri     sbi   34      m  90000.0
9     surya   union   38      m  40000.0

In [6]:
#task-2:check the info of 'df'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   bank    10 non-null     object
 2   age     10 non-null     int64
 3   gender  10 non-null     object
 4   salary  9 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

In [7]:
#task-3:check the descriptive statistics of 'df'
df.describe()

             age        salary
count  10.000000      9.000000
mean   29.800000  58888.888889
std     5.050853  22882.550363
min    22.000000  25000.000000
25%    26.500000  40000.000000
50%    29.500000  60000.000000
75%    33.500000  80000.000000
max    38.000000  90000.000000

In [10]:
#task-4: check the 4th index observation with 'loc' slicing operator
df.iloc[4]

name        vamsi
bank         hdfc
age            28
gender          m
salary    80000.0
Name: 4, dtype: object

In [11]:
#task-5: check the null values in your 'df'
df.isnull().any()

name      False
bank      False
age       False
gender    False
salary     True
dtype: bool

In [12]:
df.isnull().sum()

name      0
bank      0
age       0
gender    0
salary    1
dtype: int64